.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999 !important;
}


.modal-container {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.login_button{
    background-color: #112237;
    color: white;
}

.login_button:hover{
    border:1px solid #112237;
    box-shadow: 1px 1px 3px;
    background-color: white;
    color: #112237;
}

.footer_container,
.footer_copyright {
  position: relative;
  z-index: 1;
}
