.hero-banner-box {
  width: 100%;
  height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  /* required for overlay */

  background-image:
    url('/titlebar/background1.png'),
    url('/titlebar/background2.jpg');

  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center, center;

  overflow: hidden;
  /* keeps overlay inside */
}

.hero-banner-box::after {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(12, 34, 66, 0.65);
  /* dark blue layer */

  pointer-events: none;
}


.hero-banner-title {
  color: white;
  font-family: sans-serif;
  font-size: 3.5em;
  font-weight: 500;
  margin: 0;
  text-align: center;
  z-index: 1;
}


@media (max-width: 768px) {
  .hero-banner-box {
    top: 60px;
    height: 180px;
    width: 95%;
    margin: 70px auto;
    padding: 0 15px;
    border-radius: 15px;
  }

  .hero-banner-title {
    font-size: 1.8em;
    line-height: 1.3;
    text-align: center;
    padding: 0 10px;
    word-wrap: break-word;
  }
}