.about-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.about-heading {
  width: 900px;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  margin-bottom: 90px;
}

.about-heading h1 {
  font-size: 50px;

}

.img-container2 {
  width: 93%;
}

.about-highlight {
  width: 100%;
  background-color: #183A62;
  padding: 50px 60px;
  color: white;
  margin: 60px 0 90px;
  position: relative;
  height: 500px;
  background-image: url('/titlebar/background1.png');
}

.about-highlight::after {
  content: "";
  position: absolute;
  inset: 0;

  background-color: rgba(12, 34, 66, 0.738);
  /* dark blue layer */

  pointer-events: none;
}


.about-highlight p {
  font-size: 20px;
  line-height: 1.7;
  margin-top: 20px;
  color: #f1f1f1;
  position: relative;
  z-index: 1;
}

/* Small label */
.about-badge {
  display: inline-block;
  background-color: #e6e4d4;
  color: #183A62;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}


.two-boxes {
  display: flex;
  gap: 30px;
  margin-bottom: 90px;
  flex-wrap: wrap;
  justify-content: center;
}

.box1 {
  width: 700px;
  height: 400px;
  background-color: #E6E4D445;
  border-radius: 10px;
  padding: 50px;

}

.box-heading {
  font-size: 30px;
  font-weight: 600;
}

.box-para {
  font-size: 25px;
  margin-top: 40px;
}

@media (max-width: 576px) {

  .about-container {
    padding: 0 5vw;
  }

  .about-heading {
    width: 100%;
    margin: 40px 0;
    padding-top: 20px;
  }

  .about-heading h1 {
    font-size: 6vw;
    line-height: 1.4;
    text-align: center;
  }

  .img-container2 {
    width: 100%;
    margin: 0 auto;
  }

  .img-container2 img {
    width: 100%;
    border-radius: 15px;
  }

  .about-highlight {
    padding: 25px 20px;
    width: 100%;
    margin: 40px 0;
  }

  .about-highlight p {
    font-size: 3.7vw;
  }


  .two-boxes {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
  }

  .box1 {
    width: 100%;
    height: auto;
    padding: 25px 20px;
  }

  .box-heading {
    font-size: 5vw;
    text-align: center;
  }

  .box-para {
    font-size: 3.8vw;
    text-align: justify;
    margin-top: 20px;
    line-height: 1.6;
  }
}